In [1]:
import pandas as pd

a  = pd.read_csv("mydata.csv");

In [7]:
df = a[a['Appartment'] != ""][['Date','Debit CHF']]
df

      Date  Debit CHF
0   6-2025      55.00
1   6-2025       3.60
2   6-2025    1808.00
3   6-2025      23.50
4   6-2025      17.50
..     ...        ...
59  6-2025       8.45
60  6-2025       6.40
61  6-2025     357.85
62  6-2025      12.20
63  6-2025      41.20

[64 rows x 2 columns]

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='%m-%Y', errors='coerce') # Convert date to datetime object (for sorting later))
df['Date'] = df['Date'].dt.strftime('%m-%Y') # Keep only month-year
cat_expenses_by_month = df.groupby('Date', as_index=False) # Group categories by identical dates (MM-YYYY)
df

       Date  Debit CHF
0   06-2025      55.00
1   06-2025       3.60
2   06-2025    1808.00
3   06-2025      23.50
4   06-2025      17.50
..      ...        ...
59  06-2025       8.45
60  06-2025       6.40
61  06-2025     357.85
62  06-2025      12.20
63  06-2025      41.20

[64 rows x 2 columns]

In [8]:
cat_expenses_by_month = cat_expenses_by_month.sum() # Some all expenses for each date
cat_expenses_by_month = cat_expenses_by_month.sort_values(by='Date') # Sort by date
cat_expenses_by_month

      Date  Debit CHF
0  06-2025    4712.65

In [10]:
cat_expenses_by_month['Date'].iloc[0]

'06-2025'

In [14]:
cat_expenses_by_month['Debit CHF'].tolist()

[4712.65]